@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
  --transition: 300ms all ease-in-out;
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: #e4e4e1;
  background-image: radial-gradient(
      at top center,
      rgba(255, 255, 255, 0.03) 0%,
      rgba(0, 0, 0, 0.03) 100%
    ),
    linear-gradient(
      to top,
      rgba(255, 255, 255, 0.1) 0%,
      rgba(143, 152, 157, 0.6) 100%
    );
  background-blend-mode: normal, multiply;
}

#lp {
  background: url(/bg.png) center center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  font-size: 72px;
  font-weight: bold;
  text-transform: uppercase;
}

h2 {
  font-size: 14px;
  text-transform: uppercase;
}

h3 {
  font-size: 20px;
  font-weight: bold;
}

p {
  font-size: 14px;
}

a:not(.logo):not(.mantine-Button-root),
.link {
  font-size: 14px;
  color: var(--mantine-color-dimmed);
  transition: var(--transition);
}

a:not(.logo):not(.mantine-Button-root):hover,
.link:hover {
  color: var(--mantine-color-anchor);
  cursor: pointer;
}

.small,
article.small p {
  font-size: var(
    --input-description-size,
    calc(var(--mantine-font-size-sm) - calc(0.125rem * var(--mantine-scale)))
  );
  line-height: 1.4;
}

article.small p {
  margin-block-end: calc(0.4rem * var(--mantine-scale));
}

article.small h4 {
  font-weight: bold;
  margin-block-end: calc(0.4rem * var(--mantine-scale));
}

article.small li {
  list-style-type: disc;
  margin-left: 1rem;
  margin-block-end: calc(0.4rem * var(--mantine-scale));
}

.muted {
  color: var(--mantine-color-dimmed);
}

@media (max-width: 640px) {
  h3 {
    font-size: 14px;
  }
}
