@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
  --transition: 300ms all ease-in-out;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
    160deg,
    rgba(var(--background-rgb), 1) 33%,
    var(--mantine-color-gray-5) 100%
  );
}

h1 {
  font-size: 72px;
  font-weight: bold;
  text-transform: uppercase;
}

h2 {
  font-size: 14px;
  text-transform: uppercase;
}

h3 {
  font-size: 20px;
  font-weight: bold;
}

p {
  font-size: 14px;
}

a,
.link {
  font-size: 14px;
  color: var(--mantine-color-dimmed);
  transition: var(--transition);
}

a:hover,
.link:hover {
  color: var(--mantine-color-anchor);
  cursor: pointer;
}

.small {
  font-size: var(
    --input-description-size,
    calc(var(--mantine-font-size-sm) - calc(0.125rem * var(--mantine-scale)))
  );
  line-height: 1.2;
}

.outline {
  color: white;
  background-color: white;
  text-shadow: -1px -1px 0 rgb(var(--foreground-rgb)),
    1px -1px 0 rgb(var(--foreground-rgb)), -1px 1px 0 rgb(var(--foreground-rgb)),
    1px 1px 0 rgb(var(--foreground-rgb));
  /* -webkit-text-stroke: 1px black; */
}

.muted {
  color: var(--mantine-color-dimmed);
}
